.container > h1   {
  
    position: absolute;
    width: 791px;
    height: 76px;
    left: 325px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24   px;
    line-height: 160%;
    /* or 38px */
    
    text-align: center;
    
    align-content:center;
    color: var(--white);
}
