.bandeiras{

display:flex;

position: absolute;
    width: 791px;
    height: 76px;
    left: 600px;
    top: 350px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24   px;
    line-height: 160%;
    /* or 38px */
    align-content:center;
    
    color:var( --white);
}




.bandeiras > button{

 cursor: pointer;
 background:none;
 border:none;
 height:70px;
 width:70px;   
    
}

.bandeiras > button > span{

  color: var( --white);
  font-size:10px;
    
       
       
       }
       .imagem1{

display:flex;

position: absolute;
width: 20px;
height: 20px;
left: 50px;
top: 30px;

       }
       .imagem2{

     
position: absolute;
width: 20px;
height: 20px;
left: 100px;
top: 30px
        
               }
               .imagem3{

                position: absolute;
                width: 20px;
                height: 20px;
                left: 150px;
                               
                top: 30px;
                
                       }